.clearfix() {
	zoom: 1;
	&:before { 
		content: ''; 
		display: block; 
	}
	&:after { 
		content: ''; 
		display: table; 
		clear: both; 
	}
}

.container {
    max-width: 760px;
}

#nav li { display: inline; }
            
.category-label { 
	border: solid 1px #fff;
	text-align: left;
}
.category-bar { 
	position: relative;
	width: 100%;
	float: left;
	border: solid 1px #999;
	background: url(/Content/Img/v-line.gif) #e0e0e0 center top no-repeat;
}
.category-stats { 
	position: absolute;
	left: 0;
	top: 0;
}
.category-progress { 
	display: block;
	float: left;
	background-color: #00ff00;
}

caption { display: none; }
