/*

.typeahead {
    margin-top: 0;
}

.before-budget-start {
    color: #C2C2C2;
}

.before-budget-start a {
    color: #AED5E9;
}

.account-selector, #mobile-tab-select select {
    // width: auto;
    width: 100%;
    font-size: 1.75em;
    height: 40px;
    margin: 10px 0;
}

#account-selector {
    margin-bottom: 30px;
}

#account-selector-mobile,  #mobile-tab-select {
    display: none;
}

@media (max-width: 1200px) {
    .nav-tabs.lge a { 
        font-size: 1.3em; 
	}
}

@media (min-width: 768px) and (max-width: 979px) {

	.navbar .brand { padding-left: 5px;}

	.navbar .container {
		width: 724px;
		margin-left: auto;
		margin-right: auto;
	}
    
    .nav-tabs {
        &.lge {
            a {
                span {
                    display: none;
                }

            }
        }
    }

}

@media (max-width: 767px) {

	.navbar .container {
		margin-left: 12px;
		margin-right: 15px;
	}

    .nav-tabs {
        &.lge {
            a {
                font-size: 1.1em; 
                padding: 10px 8px;
		        margin-right: 3px;
                span {
                    display: none;
                }

            }
        }
    }

    .button-row {
        .span2 {
            width: 100%;
        }
    }

    #logged-in-user-email, #net-worth-display, #current-balance, .percentage, .edit-column {
        display: none;
    }

    #account-selector, #nav-tabs {
        display: none;
    }
    #account-selector-mobile, #mobile-tab-select {
        display: block;
    }
    .tab-pane form {
        margin-top: 20px;
    }
}

*/
body {
  padding: 30px;
}
caption {
  display: none;
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar {
  margin-bottom: 30px;
}
#test .col-md-1 div {
  background-color: #e0e0e0;
}
#net-worth .label.label-info {
  padding: 4px 6px 3px 7px;
  font-size: 1.1em;
}
#net-worth-content {
  display: none;
}
#net-worth-content-table {
  width: 240px;
}
#net-worth-content-table th {
  text-align: left;
}
#net-worth-content-table td {
  text-align: right;
}
#account-selector {
  margin-bottom: 30px;
}
.nav-tabs.lge a {
  font-size: 1.5em;
  font-weight: bold;
  padding: 12px 20px;
  margin-right: 10px;
}
#account-selector-mobile,
#mobile-tab-select {
  display: none;
}
.brand span {
  display: none;
}
#staging .navbar {
  background-color: #ffb580;
}
#staging .brand span {
  display: inline;
}
.budget-graph {
  margin-top: 20px;
  margin-bottom: 20px;
}
.category-label {
  border: solid 1px #fff;
  text-align: left;
  padding: 6px 0;
  margin: 5px 0;
  font-weight: bold;
}
.category-bar {
  position: relative;
  width: 100%;
  float: left;
  background: url(/Content/Img/v-line.gif) #e0e0e0 center top no-repeat;
  margin: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.category-stats {
  position: absolute;
  left: 0;
  top: 0;
  padding: 6px 12px;
  font-weight: bold;
}
.category-remaining {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 12px;
  font-weight: bold;
}
.over .category-progress {
  background-color: #EB8B75;
}
.category-progress {
  display: block;
  float: left;
  padding: 6px 0;
  background-color: #5FCF59;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#current-balance {
  font-size: 36px;
  margin-top: 17px;
  margin-bottom: 10px;
  text-align: right;
}
.field-validation-error {
  color: #cc0000;
  padding-left: 1em;
}
.popover-title {
  color: #0044cc;
  font-weight: bold;
}
.dropdown-menu.pull-right.user-menu {
  right: 15px;
}
.dropdown-menu.pull-right.user-menu li {
  text-align: right;
}
