.clearfix() {
	zoom: 1;
	&:before { 
		content: ''; 
		display: block; 
	}
	&:after { 
		content: ''; 
		display: table; 
		clear: both; 
	}
}

#nav li { display: inline; }
            
.category-label { 
	border: solid 1px #fff;
	text-align: left;
	padding: 10px 0;
	margin: 5px 0;
	font-weight: bold;
}
.category-bar { 
	position: relative;
	width: 100%;
	float: left;
	background: url(/Content/Img/v-line.gif) #e0e0e0 center top no-repeat;
	margin: 5px 0;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;


}
.category-stats { 
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px 12px;
	font-weight: bold;
}
.over {
	.category-progress {
		background-color: #EB8B75;
	}
}
.category-progress { 
	display: block;
	float: left;
	padding: 10px 0;
	background-color: #5FCF59;
	
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

caption { display: none; }

.span2 {
	.btn {
		width: 100%;
	}
}

.span3 {
    .btn {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 979px) {

	.navbar .brand { padding-left: 5px;}

	.navbar .container {
		width: 724px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 767px) {

	.navbar .container {
		margin-left: 12px;
		margin-right: 15px;
	}

}

#test .span1 {
	background-color: #e0e0e0;
}

.nav-tabs {
	&.lge a { 
		font-size: 1.7em; 
		font-weight: bold;
		padding: 15px 20px;
		margin-right: 10px;
	}
}

div.heading-mimic {
	font-size: 31.5px;
	line-height: 40px;
	margin: 10px 0;
	font-weight: bold;
	text-align: right;
}

#net-worth {
	padding-top: 9px;
	.label {
		&.label-info {
			padding: 4px 6px 3px 7px;
			font-size: 1.1em;
		}
	}
}

#net-worth-content {
    display: none;
}

#net-worth-content-table {
    width: 100%;
    th {
        text-align: left;
    }
    td {
        text-align: right;
    }
}

.row {
    &.button-row {
        margin-top: 30px;
    }
}