<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SqlScriptSource" value="E:\Src\MABMoney\db"/>
        <add key="SetUpDbConnectionString" value="Server=.\SQLEXPRESS;Database=master;Trusted_Connection=yes"/>
        <add key="DataDbConnectionString" value="Server=.\SQLEXPRESS;Database=MABMoney_TEST;Trusted_Connection=yes"/>
    </appSettings>
</configuration>