@model MABMoney.Web.Models.Budgets.DetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Budget Details</h1>
        <p>@Model.Start.ToString("dd/MM/yyyy") to @Model.End.ToString("dd/MM/yyyy")</p>
    </div>
</div>

@{ Html.RenderPartial("BudgetGraph", Model.Categories); }