@model MABMoney.Web.Models.Accounts.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Accounts</h2>

<table class="table table-striped">
    <caption>Account List</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
        <tr>
            <td>@account.Name</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = account.AccountID })</td>
        </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Add New Account", "Create")</p>
