@model MABMoney.Web.Models.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Account Overview</h2>

<h3>@Model.Account.Name</h3>
<p>Starting Balance: @Model.Account.StartingBalance.ToString("#0.00")</p>
<p>Current Balance: @Model.Account.CurrentBalance.ToString("#0.00")</p>
