@model List<MABMoney.Caching.CacheItemInfo>
           
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Show Cache Contents</title>
</head>
<body>
    <table id="postmanager" class="redirectmanager">
            <tr>
                <th>Key</th>
                <th style="width: 90px;">Value</th>
                <th style="width: 30px;">Hit</th>
                <th style="width: 30px;">Miss</th>
            </tr>

            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Key</td>
                    <td>@entry.Type</td>
                    <td>@entry.Hits</td>
                    <td>@entry.Misses</td>
                </tr>
            
            }
            
        </table>
</body>
</html>