@model MABMoney.Web.Models.Users.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Edit User</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <p><input type="submit" value="Save" class="btn btn-primary" /></p>
}

@using (Html.BeginForm("Delete", "Users"))
{
    <p><input type="hidden" name="id" value="@Model.UserID" /><input type="submit" value="Delete" class="btn" /></p>
}