@model MABMoney.Web.Models.Users.PasswordResetRequestViewModel

@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Password Reset</h1>

<p>Please enter your email address below; we'll send you a link which will allow you to reset your password.</p>

@using (Html.BeginForm("PasswordResetRequest", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    @Html.TextControlGroupFor(x => x.Email)

    @Html.HiddenFor(x => x.RedirectAfterSubmitUrl)
    
    @Html.SubmitControlGroup("Reset")
}