@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Password Reset</h2>

@using (Html.BeginForm()) { 
    
    <p><input type="text" name="UserEmail" /> <input type="submit" value="Reset" class="btn"/></p>
    
}