@{
    ViewBag.Title = "PasswordResetComplete";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Password Reset Complete</h2>

<p>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login").</p>