@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Password Reset</h2>

@using (Html.BeginForm()) { 
    
    <div class="editor-field">
        <input id="UserEmail" name="UserEmail" type="text" value="" />

    </div>
    
    <p><input type="submit" value="Reset" class="btn btn-primary"/></p>
    
}