@{
    ViewBag.Title = "PasswordResetComplete";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Password Reset Complete</h1>
        <p>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login").</p>
    </div>
</div>