@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Password Reset Request Expired</h1>

<p>For security, password reset requests expire after one hour.</p>

<p>@Html.ActionLink("Click here to reset your password", "PasswordResetRequest")</p>