@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Password Reset Request Sent</h1>
        <p>Please check your email.</p>
    </div>
</div>